body {
    padding-bottom: 70px;
}
.text-center p{
    color: #000;
    font-size: 20px;
    margin-top: 10px;
}
.padnone{
    padding:10px 0 0 0;
}
.rollback{
    margin-top: 15px;
}
.icona{
    color: #fff;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #dedede;
}
.icon {
    width: 24px;
    height: 24px;
}
.iconp{
    margin-top: 2px;
    font-size: 12px;
}
.bd{
    padding: 5px;
    border-bottom: 1px solid #dedede;
}
.bd-top{
    border-top: 1px solid #dedede;
}
.price{
    color: #ff0000;
}